
/*
 * LANGUAGE
*/

.language ul{
 list-style:none;
 float: left;
 padding: 0px;
}
.language ul li{
	float:left;
	margin:5px;
}

.content{
	background:#CCC;
	border:1px solid #333;
	clear: both;
	padding:20px;
}


#artitleTranslate, #goog-gt-tt, #customTranslate, .goog-te-banner-frame {
 display: none !important;
}
.goog-text-highlight{
	background:none !important;
	box-shadow:none !important;
}
.goog-te-banner-frame.skiptranslate {display: none !important;}
body { top: 0px !important; }

